### Question 1
### Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
#### Examples
#### is_symmetrical(7227) ➞ True
#### is_symmetrical(12567) ➞ False
#### is_symmetrical(44444444) ➞ True
#### is_symmetrical(9939) ➞ False
#### is_symmetrical(1112111) ➞ True

In [5]:
def is_symmetrical(num):
    i = 1
    temp = num
    sum = 0
    length = len(str(temp))-1
    while temp > 0:
        rem = temp % 10
        sum += (rem * pow(10,length))
        temp = temp // 10
        length  = length -1
    if sum == num:
        return True
    else:
        return False

In [6]:
is_symmetrical(7227)

True

In [7]:
is_symmetrical(12567)

False

In [8]:
is_symmetrical(44444444)

True

In [9]:
is_symmetrical(9939)

False

In [10]:
is_symmetrical(1112111)

True

### Question 2
### Given a string of numbers separated by a comma and space, return the product of the numbers.
#### Examples
#### multiply_nums("2, 3") ➞ 6
#### multiply_nums("1, 2, 3, 4") ➞ 24
#### multiply_nums("54, 75, 453, 0") ➞ 0
#### multiply_nums("10, -2") ➞ -20

In [20]:
def multiply_nums(string):
    nums = string.split(',')
    mul = 1
    for i in nums:
        mul *= int(i)
    return mul

In [21]:
multiply_nums("2, 3")

6

In [22]:
multiply_nums("1, 2, 3, 4")

24

In [23]:
multiply_nums("54, 75, 453, 0")

0

In [24]:
multiply_nums("10, -2")

-20

### Question 3
### Create a function that squares every digit of a number.
#### Examples
#### square_digits(9119) ➞ 811181
#### square_digits(2483) ➞ 416649
#### square_digits(3212) ➞ 9414
#### Notes
#### The function receives an integer and must return an integer.

In [25]:
def square_digits(num):
    s = ''
    for i in str(num):
        s += str(pow(int(i),2))
    return int(s)

In [26]:
square_digits(9119)

811181

In [27]:
square_digits(2483)

416649

In [28]:
square_digits(3212)

9414

### Question 4
### Create a function that sorts a list and removes all duplicate items from it.
#### Examples
#### setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
#### setify([4, 4, 4, 4]) ➞ [4]
#### setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
#### setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [29]:
def setify(lst):
    return list(set(lst))

In [30]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [31]:
setify([4, 4, 4, 4])

[4]

In [32]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [33]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Question 5
### Create a function that returns the mean of all digits.
#### Examples
#### mean(42) ➞ 3
#### mean(12345) ➞ 3
#### mean(666) ➞ 6
#### Notes
#### •	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
#### •	The mean will always be an integer.

In [38]:
def mean(num):
    sum = 0
    for i in str(num):
        sum += int(i)
    return int(sum/len(str(num)))

In [39]:
mean(42)

3

In [40]:
mean(12345)

3

In [41]:
mean(666)

6