### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

<PRE>
SELECT * FROM (SELECT ROW_NUMBER()
        OVER (ORDER BY SALARY DESC) AS ROWNUM
    FROM WORKER) WHERE ROWNUM=5;
<PRE>

### Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT \* FROM WORKER WHERE SALARY IN (SELECT SALARY FROM WORKER GROUP BY SALARY HAVING COUNT(\*)>1);