### Q-13. Write an SQL query to show only odd rows from aÂ table.

SELECT * FROM WORKER WHERE MOD(EMPLOYEE_ID,2)=1;

### Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE WORKERNEW AS SELECT * FROM WORKER;