### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

SELECT SUBSTR(FIRST_NAME,1,3) FROM WORKER;

### Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

SELECT POSITION('a' IN 'Amitabh') FROM WORKER;

### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

SELECT EMPLOYEE_NAME,MAX(SALARY) FROM EMPLOYEE GROUP BY DEPARTMENT;