### 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

#### Examples
#### show_the_love([4, 1, 4]) ➞ [3, 3, 3]
#### show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]
#### show_the_love([2, 100]) ➞ [27, 75]

In [12]:
def show_the_love(lst):
    temp_lst = lst.copy()
    s = 0
    for i in range(len(lst)):
        if temp_lst[i] != min(temp_lst):
            s = s + (temp_lst[i] * 0.25)
            temp_lst[i] = temp_lst[i] * 0.75
    temp_lst[temp_lst.index(min(temp_lst))] = s + min(lst)
    return temp_lst

In [13]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [14]:
show_the_love([16, 10, 8])

[12.0, 7.5, 16.5]

In [15]:
show_the_love([2, 100])

[27.0, 75.0]

### 2. Create a function that takes in two words as input and returns a list of three elements, in the following order:
####    1.Shared letters between two words.
####    2.Letters unique to word 1.
####    3.Letters unique to word 2.

#### Each element should have unique letters, and have each letter be alphabetically sorted.
#### Examples
#### letters("sharp", "soap") ➞ ["aps", "hr", "o"]
#### letters("board", "bored") ➞ ["bdor", "a", "e"]
#### letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

#### letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]
#### # Even with multiple matching letters (e.g. 3 f's), there should 
#### # only exist a single "f" in your first element.

#### letters("match", "ham") ➞ ["ahm", "ct", ""]
#### # "ham" does not contain any letters that are not found already 
#### # in "match".

In [22]:
def letters(word1,word2):
    w1 = set(word1)
    w2 = set(word2)
    lst = []
    lst.append(''.join(sorted(w1.intersection(w2))))
    lst.append(''.join(sorted(w1.difference(w2))))
    lst.append(''.join(sorted(w2.difference(w1))))
    return lst

In [23]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [24]:
letters("board", "bored")

['bdor', 'a', 'e']

In [25]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [26]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [27]:
letters("match", "ham")

['ahm', 'ct', '']

### 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

#### Examples
#### pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]
#### pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]
#### pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]
#### pairs([]) ➞ []

In [35]:
def pairs(lst):
    temp_lst = []
    if len(lst)%2 != 0:
        for i in range(int(len(lst)/2)+1):
            temp_lst.append([lst[i],lst[-1-i]])
    else:
        for i in range(int(len(lst)/2)):
            temp_lst.append([lst[i],lst[-1-i]])
    return temp_lst

In [36]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [37]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [38]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [39]:
pairs([])

[]

### 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

#### Examples
#### add_str_nums("4", "5") ➞ "9"
#### add_str_nums("abcdefg", "3") ➞ "-1"
#### add_str_nums("1", "") ➞ "1"
#### add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [54]:
def add_str_nums(num1,num2):
    n1 = num1 if len(num1)>0 else '0'
    n2 = num2 if len(num2)>0 else '0'
    if n1.isdigit() and n2.isdigit():
        return int(n1) + int(n2)
    else:
        return -1

In [55]:
add_str_nums("4", "5")

9

In [56]:
add_str_nums("abcdefg", "3")

-1

In [57]:
add_str_nums("1", "")

1

In [58]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

1874682736267235927391936562808774986

### 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!
#### Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

#### Examples
#### unmix("123456") ➞ "214365"
#### unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."
#### unmix("badce") ➞ "abcde"

In [67]:
def unmix(sentence):
    s = ''
    for i in range(0,len(sentence)-1,2):
        s = s + (sentence[i+1] + sentence[i])
    if len(sentence) %2 != 0:
        s += sentence[-1]
    return s

In [68]:
unmix("123456")

'214365'

In [69]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [70]:
unmix("badce")

'abcde'